* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    color: #fff;
}

/* SIDEBAR */
.sidebar-sessao {
    background-color: #111418;
    border-right: 5px solid #00b4d8;
    position: fixed;
    left: 0;
    width: 280px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    position: relative;
}

.nome-foto-fabio {
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.nome-foto-fabio img {
    width: 140px;
    border-radius: 50%;
    border: 5px solid #00b4d8;
    position: absolute;
    right: -97px;
    transition: right 0.5s ease;
}

.sidebar-container:hover .nome-foto-fabio img{
    position: absolute;
    right: 35px;
}

.nome-foto-fabio p{
    position: absolute;
    top: 50px;
    left: 20px;
    transition: top 0.5s ease;
    transition: left 0.5s ease;
}

.sidebar-container:hover .nome-foto-fabio p{
    position: absolute;
    top: 160px;
    left: 60px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
    transition: color 0.2s ease-in-out;
}

.menu a:hover {
    color: #00b4d8;
}

#whatsapp-button {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background-color: #0077b6;
    border: 2px solid #caf0f8;
    border-radius: 20px;
    padding: 5px 20px;
    transition: border 0.2s ease-in-out;
}

#whatsapp-button:hover {
    border: 2px solid #00b4d8;
    color: #fff;
}

#whatsapp-button svg {
    margin-right: 10px;
}

.redes-sociais {
    display: flex;
    justify-content: space-around;
}

#github svg{
    background-color: #fff;
    border-radius: 50%;
}

/* FIM SIDEBAR */

/* BANNER */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 280px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/web\ developer\ working\ w.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 930px;
}

.banner h1{
    font-size: 42px;
    font-weight: 500;
    text-align: center;
}

.banner h2{
    font-size: 62px;
    letter-spacing: 3px;
    font-weight: 700;
}