/* GERAL */
* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    color: #fff;
    scroll-behavior: smooth;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 22px;
}

p {
    font-size: 17px;
}

.padrao-sessoes {
    text-align: center;
    padding: 50px 20px;
}

/* SIDEBAR */
.sidebar-sessao {
    background-color: #111418;
    border-right: 5px solid #00b4d8;
    position: fixed;
    left: 0;
    width: 280px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    position: relative;
}

.nome-foto-fabio {
    text-align: center;
}

.nome-foto-fabio img {
    width: 140px;
    border-radius: 50%;
    border: 5px solid #00b4d8;
    position: absolute;
    right: -97px;
    transition: right 0.5s ease;
}

.sidebar-container:hover .nome-foto-fabio img {
    position: absolute;
    right: 35px;
}

.nome-foto-fabio p {
    color: #00b4d8;
    font-weight: 600;
    font-size: 25px;
    text-decoration: overline;
    position: absolute;
    top: 50px;
    left: 20px;
    transition: top 0.5s ease;
}

.nome-foto-fabio-mobile {
    display: none;
}

.sidebar-container:hover .nome-foto-fabio p {
    position: absolute;
    top: 160px;
    left: 60px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
    transition: color 0.2s ease-in-out;
}

.menu a:hover {
    color: #00b4d8;
}

#whatsapp-button {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background-color: #0077b6;
    border: 2px solid #caf0f8;
    border-radius: 20px;
    padding: 5px 20px;
    transition: border 0.2s ease-in-out;
}

#whatsapp-button:hover {
    border: 2px solid #00b4d8;
    color: #fff;
}

#whatsapp-button svg {
    margin-right: 10px;
}

.redes-sociais {
    display: flex;
    justify-content: space-around;
}

#github svg {
    background-color: #fff;
    border-radius: 50%;
}

/* MAIN */
main {
    margin-left: 285px;
}

/* BANNER */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/web\ developer\ working\ 100.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 930px;
}

.icon-linguagens {
    text-align: center;
}

.icon-linguagens svg {
    width: 100px;
    height: 100px;
    transition: transform 0.5s;
}

.icon-linguagens svg:hover {
    transform: scale(1.1);
}

.banner h1 {
    font-size: 82px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
}

.banner h2 {
    letter-spacing: 3px;
    font-weight: 700;
    text-align: center;
}

/* SOBRE MIM */
.sobre-mim {
    background-color: #343a40;
}

.sobre-mim-titulo {
    margin-bottom: 70px;
}

.sobre-mim-titulo h2 {
    margin-bottom: 10px;
}

#linha-azul {
    width: 100px;
    height: 5px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #0077b6;
}

.container-sobre-descricao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#nome-azul {
    color: #0077b6;
    font-weight: 700;
}

.container-sobre-descricao-esquerdo {
    text-align: left;
    width: 50%;
}

.container-sobre-descricao-esquerdo p {
    line-height: 1.8em;
}

.container-sobre-descricao-direito {
    width: 25%;
}

.container-sobre-descricao-direito ul li {
    list-style: none;
    text-align: left;
    width: 300px;
    padding: 15px 0;
    border-bottom: 1px solid #caf0f8;
    letter-spacing: 1px;
}

.container-sobre-descricao-direito ul li span {
    font-weight: 700;
}

.container-sobre-descricao-direito a {
    color: #0077b6;
    text-decoration: none;
}

.grid-experiencia tr th {
    border: 1px solid #ffffff50;
    padding: 5px 30px 5px 10px;
    background-color: #149eb938;
}

.grid-experiencia tr td {
    border: 1px solid #ffffff50;
    padding: 5px 30px 5px 10px;
}

/* PORTFOLIO */
.portfolio-sessao {
    background-color: #212529;
}

.portfolio-titulo {
    margin-bottom: 70px;
}

.portfolio-titulo h2 {
    margin-bottom: 10px;
}

/* RODAPE */
footer {
    background-color: #343a40;
    margin-left: 285px;
}

.rodape-titulo {
    margin-bottom: 70px;
}

.rodape-titulo h2 {
    margin-bottom: 10px;
}

.rodape-sessao {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.rodape-container h4 {
    margin-bottom: 10px;
}

.rodape-container ul li {
    list-style: none;
    padding: 8px 0;
}

.rodape-container ul li img {
    margin-right: 15px;
    margin-bottom: -5px;
}

.rodape-container-contato ul li {
    text-align: left;
}

.copy {
    position: fixed;
    bottom: 0;
}

@media(max-width:1250px) {
    .container-sobre-descricao-esquerdo {
        width: 100%;
    }

    .container-sobre-descricao-direito {
        margin: 30px 0;
        width: auto;
    }
}

@media(max-width:1024px) {

    /* GERAL */
    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    main,
    footer {
        margin-left: 0;
    }

    /* SIDEBAR */
    .sidebar-sessao {
        display: none;
    }

    /* BANNER */
    .banner {
        height: 600px;
        padding: 0 20px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url("../assets/web\ developer\ working\ w.webp");
    }

    .banner h1 {
        font-size: 60px;
    }

    .icon-linguagens svg {
        width: 80px;
        height: 80px;
    }

    .nome-foto-fabio-mobile {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .nome-foto-fabio-mobile img {
        width: 140px;
        border-radius: 50%;
        border: 5px solid #00b4d8;
        transition: right 0.5s ease;
    }

    .nome-foto-fabio-mobile p {
        color: #fff;
        font-weight: 600;
        font-size: 25px;
        text-decoration: overline;
        margin-top: 10px;
    }

    /* SOBRE MIM */
    .sobre-mim-titulo {
        margin-bottom: 50px;
    }

    .grid-experiencia tr th {
        padding: 8px;
    }

    .grid-experiencia tr td {
        padding: 8px;
    }

    /* FOOTER */
    .rodape-titulo {
        margin-top: 0;
        margin-bottom: 50px;
    }
}

@media(max-width:767px) {

    /* GERAL */
    .padrao-sessoes {
        padding: 30px 20px;
    }

    /* BANNER */
    .banner h1 {
        font-size: 45px;
        letter-spacing: 1px;
        line-height: 1.1em;
    }

    .icon-linguagens svg {
        width: 60px;
        height: 60px;
    }

    /* SOBRE MIM */
    .sobre-mim-titulo {
        margin-bottom: 40px;
    }

    .grid-experiencia img {
        width: 20px !important;
        height: 20px !important;
    }

    .grid-experiencia tr th {
        padding: 5px;
        font-size: 14px;
    }

    .grid-experiencia tr td {
        padding: 5px;
        font-size: 14px;
    }

    /* FOOTER */
    .rodape-container {
        width: 100%;
    }

    .rodape-container h4 {
        margin-bottom: 5px;
    }

    .rodape-container-contato {
        margin-top: 20px;
    }

    .rodape-container-contato ul li {
        text-align: center;
    }

    .rodape-container ul li img {
        margin-right: 10px;
    }

    .rodape-titulo {
        margin-bottom: 40px;
    }

    .copy {
        position: relative;
        bottom: -25px;
    }
}